@charset "utf-8";
@import url(font.css);

/* Megabox Style Guide */
/* Color Palette */
:root {
  --mg-primary: #000;
  --mg-secondary: #351f66;
  --mg-accent: #01738B;
  --mg-gray-f2: #f2f2f2;
  --mg-gray-4: #444;
  --mg-gray-f: #fff;
}

/* Typography */
/* 
    Font Family: 'NanumBarunGothic', sans-serif (기본 권장)
    Main Title: 32px ~ 40px / Bold
    Sub Title: 18px ~ 22px / Semi-Bold
    Body: 14px ~ 16px / Regular
*/

/* 크기 단위: rem 또는 % */

* {
    box-sizing: border-box;
}
body {
    font: 1rem/1.6 NanumBarunGothic, sans-serif;
    color: var(--mg-gray-4);
    background: var(--mg-gray-f);
}
body,h1,h2,h3,p,ul,ol {
    margin: 0;
}
ul,ol {
    padding: 0;
    list-style:none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    width: 100%;
    display: block;
}
